.inputs-b__labels {
	float: left;
	min-width: 100px;
	width: 150px;
}
.input-b label {
	display: block;
	line-height: 20px;
	margin-bottom: 2px;
	float: left;
	padding-right: 15px;

}
.inputs-b__inputs {
	float: left;
}
.input-b input[type=text] {
	float: right;
	line-height: 20px;
	height: 20px;
	border: 0;
	margin-bottom: 2px;
	padding: 0 7px;
}
.inputs-b {
	max-width: 300px;
	margin: auto;
	padding: 0 10px;
}
.btn-default {
	margin-top: 10px;
}


#input-1 {
	width: 216px;
}
#input-2 {
	width: 232px;
}
#input-3 {
	width: 252px;
}