.sidebar {
	width: 180px;
	padding: 10px;
	border: 1px solid #ccc;
	@media (max-width: $tabletPortrait) {
		position: static;
		/*float: none;*/
		/*width: 50%;*/

	}


}

.sidebar_left {
	background: #f8f8f8;
	float: left;
	margin-left: - 100%;

	@media (max-width: $tabletPortrait) {
		/*float: none;*/
		margin: auto;
	}
	@media(max-width: $mobilePortrait) {
		float: none;
		width: auto;
		text-align: center;
	}


}

.sidebar_right {
	background: #f0efef;
	float: right;
	margin-left: -202px;
	@media (max-width: $tabletPortrait) {
		margin: auto;
	}
	@media(max-width: $mobilePortrait) {
		float: none;
		width: auto;
		text-align: center;
	}

}
.main-content {
	/*float: left;*/
	/*padding: 10px;*/
}


.content {
	position: relative;
	margin-top: 10px;
	max-width: $content-width;
	padding: 0 10px;
	margin: 10px auto 0;
	/*background: #eee;*/
	@media (max-width: $tabletPortrait) {
		padding: 0;
	}
}

.content-box {
	min-height: 50px;
	background: #eee;
	width: 99%;
	margin: auto;
	padding-top: 10px;

	&.content-box_left {
		/*float: left;*/
	}
	&.content-box_right {
		/*float: right;*/
	}
}

.content-b-wrapper {
	float: left;
	width: 100%;

	@media (max-width: $tabletPortrait) {
		float: none;
	}
}
.content-b {
	/*position: absolute;*/
	margin: 0 210px;
	/*top: 0;*/
	/*left: 210px;*/
	/*right: 210px;*/
	padding: 10px;
	background: #e2e2e2;

	@media (max-width: $tabletPortrait) {
		position: static;
		margin: auto;
	}

}
