@import 'reset.styl';
@import 'breakpoints.styl';
@import 'variables.styl';
@import 'layouts.styl';
body {
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #000;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
html, body {
	height: 100%;
}
h3 {
	font-weight bold
	font-size 18px;
	line-height 1.2em;
	margin: 10px 0;
}
.wrapper {
	min-height: 100%;
	margin-bottom: - $footer-border-and-outer-height;
}
.text-center {
	text-align: center;
}
.clearfix:after {
	clear: both;
	display: block;
	content: "";
}
@import 'header.styl';
@import 'main-nav.styl';
@import 'footer.styl';
@import 'news.styl';
@import 'tables.styl';
@import 'inputs-b.styl';
@import 'popup.styl';
@import 'content.styl';